.login{
    display: flex;
    height: 100vh;
    background:linear-gradient(rgba(69, 206, 219, 0.621), rgba(225, 231, 235, 0.5));
    justify-content: center;
    align-items: center;

    .card{
        display: flex;
        width: 50%;
        border-radius: 10px;
        background-color: white;
        min-height: 600px;
        overflow: hidden;

        
        .left{

            flex: 1;
            background:linear-gradient(rgba(18, 19, 19, 0.621), rgba(125, 127, 129, 0.5)),
              url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
                center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
      

            h1{
                font-size: 80px;
                line-height: 100px;
            }
            // p{
            //     margin-top: px;
            //     font-size: 18px;
            //     font-weight: 600;
            // }
            span{ font-size: 18px;
                color:white;
                font-weight: 500;
                padding-top: 10px;}
            button{
                width: 50%;
            padding: 10px;
            border: 2px solid cadetblue;
            border-radius: 5px;
            background-color: white;
            font-weight: 300;
            font-size: 16px;
            cursor: pointer;

            
            &:hover{
                background-color: cadetblue;
                color:white;
            }   
            }

        }
        .right{
            flex:1;
            display: flex;
            padding: 50px;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
                margin-top: 80px;
                font-size: 45px;
                color: rgb(13, 7, 14);
            }
            form{

                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom:  1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                width: 50%;
                padding: 10px;
                border: 2px solid rgba(15, 97, 129, 0.621);
                border-radius: 5px;
                background:rgba(59, 128, 130, 0.694);
                color: white;
                font-weight: 300;
                font-size: 16px;
                    cursor: pointer;

                    &:hover{
                        background: white;
                        color:cadetblue;
                    }
                }
               
            }

        }
    }

    
}